@import "../vars";
@import "../mixins/base";
.feedback {

  &__container {
    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }

  &__header {
    margin-bottom: 30px;
    @media screen and (min-width: 1024px) {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: $grey-light;
  }
}