.partners {

  &__list {
    display: flex;
    flex-direction: column;
    gap: 26px;
    @media screen and (min-width: 768px) {
     flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 156px;
    img {
      width: 200px;
      object-fit: contain;
    }
    @media screen and (min-width: 768px) {
      flex: 1;
      flex-basis: 45%;
    }
    @media screen and (min-width: 1366px) {
      flex: 1;
      flex-basis: 30%;
    }
  }
}
.container {
}
