<form class="feedback-form">
    <div class="feedback-form__inputs">
        <label class="default-input default-input_dark feedback-form__input empty">
            <input type="text" name="name" placeholder="Имя*">
        </label>
        <label class="default-input default-input_dark feedback-form__input empty">
            <input type="tel" name="phone" placeholder="Телефон*">
        </label>
        <label class="default-input default-input_dark default-input_textarea feedback-form__input empty">
            <textarea type="text" name="message" placeholder="Сообщение*"></textarea>
        </label>
    </div>

    <label class="default-checkbox feedback-form__checkbox">
        <input type="checkbox" name="agree">
        <span class="default-checkbox__checkbox">
             <svg>
                 <use xlink:href="{{ asset('build/images/svg/sprite.svg') }}#check-icon"></use>
             </svg>
        </span>
        <span class="feedback-form__policy">
            Даю согласие на обработку <a href="{{ path('app_policy') }}">Персональных данных</a>
        </span>
    </label>
    <button class="default-button default-button_grey feedback-form__submit">Отправить</button>
</form>