@import "../../vars";
@import "../../mixins/base";

.hero {
  position: relative;
  height: calc(100dvh - 54px);
  padding-top: 30px;
  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 30px;
    height: calc(100dvh - 66px);
  }
  @media screen and (min-width: 1366px) {
    padding-top: 56px;
    height: calc(100dvh - 76px);
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 2;
    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &__title {
    max-width: min-content;
    color: $blue-dark;

    span {
      color: $grey-light;
    }
  }

  &__thumbs {
    @media screen and (min-width: 1024px) {
      width: 50%;
    }
    @media screen and (min-width: 1366px) {
      width: 40%;
    }
  }

  &__bg {
    width: 100%;
    height: calc(100% - 168px / 2 - 25px - 52px);
    position: absolute;
    left: 0;
    bottom: 52px;
    @media screen and (min-width: 768px) {
      height: calc(100% - 264px / 2 - 15px - 52px);
    }
    @media screen and (min-width: 1024px) {
      bottom: 0;
      height: calc(100% - 216px / 2 - 25px);
    }
    @media screen and (min-width: 1366px) {
      height: calc(100% - 350px / 2 - 46px);
    }
  }
}

.hero-thumbs {

  &__swiper {
    margin-bottom: 42px;
    @media screen and (min-width: 1024px) {
      margin-bottom: 28px;
    }
    @media screen and (min-width: 1366px) {
      margin-bottom: 70px;
      padding-top: 14px;
    }
  }

  &__slide {
    color: $white;
    max-width: 320px;

    p {
      opacity: 0;
      transition: opacity 1s ease;
    }

    @media screen and (min-width: 768px) {
      max-width: 456px;
    }
    @media screen and (min-width: 1024px) {
      max-width: 440px;
      color: $blue-dark-2;
    }
    @media screen and (min-width: 1366px) {
      max-width: 450px;
    }

    &_active {
      p {
        opacity: 1;
      }
    }
  }

  &__navigation {
    padding-bottom: 10px;
  }

  &__fraction {
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__pagination {
    @media screen and (min-width: 1024px) {
      display: flex;
      gap: 2px;
    }
  }

  &__bullet {
    width: 12px;
    height: 4px;
    border-radius: 30px;
    background-color: $blue-dark-2;
    transition-property: background-color, width;
    @include base-transition;

    &_active {
      width: 37px;
      background-color: $blue-dark;
    }
  }
}

.hero-bg {

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  &__slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}