{# @var socialNetwork \App\Entity\SocialNetwork #}
{# @var contact \App\Entity\Contact #}
{# @var branch \App\Entity\Branch #}
{# @var review \App\Entity\Review #}
{# @var advantage \App\Entity\Advantage #}
{# @var certificate \App\Entity\Certificate #}
{# @var service \App\Entity\Service #}
{# @var image \App\Entity\Gallery #}

{% extends 'layouts/default.html.twig' %}

{% block title %}О нас | Сити Сервис{% endblock %}
{% block meta %}
    <meta property="og:title" content="ООО Сити Сервис - клиниговые услуги для бизнеса">
    <meta property="og:description"
          content="Мы создаем пространства, где чистота и порядок становятся ключевыми составляющими успеха.">
{% endblock %}

{% block content %}

    {% include 'components/base/breadcrumbs.html.twig' with { breadcrumbs: [
        {title : 'Главная', url : '/'},
        {title :  'О Нас' },
    ] } %}

    <div class="container">
        <h1 class="title-24-53 main__title">
            Мы создаем пространства, где чистота и порядок становятся ключевыми составляющими успеха
        </h1>
    </div>

    {% if advantages | length %}
        {% include 'components/sections/advantages.html.twig' with { advantages } %}
    {% endif %}

    {% if reviews | length %}
        {% include 'components/sections/reviews.html.twig' with { reviews } %}
    {% endif %}

    {% include 'components/sections/partners.html.twig' %}

{% endblock %}