{# @var socialNetwork \App\Entity\SocialNetwork #}
{# @var contact \App\Entity\Contact #}
{# @var branch \App\Entity\Branch #}
{# @var review \App\Entity\Review #}
{# @var advantage \App\Entity\Advantage #}
{# @var certificate \App\Entity\Certificate #}
{# @var service \App\Entity\Service #}
{# @var image \App\Entity\Gallery #}

{% extends 'layouts/default.html.twig' %}

{% block title %}О нас | Сити Сервис{% endblock %}
{% block meta %}
    <meta property="og:title" content="ООО Сити Сервис - клиниговые услуги для бизнеса">
    <meta property="og:description"
          content="Мы создаем пространства, где чистота и порядок становятся ключевыми составляющими успеха.">
{% endblock %}

{% block content %}

    {% include 'components/base/breadcrumbs.html.twig' with { breadcrumbs: [
        {title : 'Главная', url : '/'},
        {title :  'О Нас' },
    ] } %}

    <div class="container">
        <h1 class="title-24-53 main__title">
            Мы создаем пространства, где чистота и порядок становятся ключевыми составляющими успеха
        </h1>
    </div>

    <div class="main__image">
        <img src="{{ asset('build/images/default-about-image.png') }}"
             alt="О нас">
    </div>

    <section class="section section_light about-info">
        <div class="container about-info__container">
            <h2 class="title-18-28 about-info__title">Наши услуги пользуются доверием лидеров в различных отраслях.</h2>
            <div class="about-info__text">
                    Мы - "Сити Сервис" - профессионалы в сфере клининга и технической эксплуатации зданий. Наша компания начала свой путь в 2006 году, и с тех пор мы посвятили себя обеспечению безупречной чистоты и порядка в различных сферах бизнес.<br><br>
                    История становления и развития компании началась в 2006 году, когда на территорию РФ стали поставляться передовые технологии, средства по очистке и дезинфекции, а также многофункциональная клининговая техника из стран Европы и США. Получив возможность организовать сервис высокого уровня в России, мы стали оказывать клининговые услуги крупным предприятиям на рынке региона.
            </div>
        </div>
    </section>

    {% set history = [
        {
            image: asset('build/images/hero-1.png'),
            text: 'В 2006 году группа предпринимателей с большим опытом в сфере обслуживания и уборки помещений решила объединить свои усилия и создать компанию, которая предложила бы высококачественные услуги клининга и технической эксплуатации.'
        },
        {
            image: asset('build/images/hero-2.png'),
            text: 'В следующие несколько лет компания активно развивалась, привлекая новых клиентов и расширяя географию своих услуг. "Сити Сервис" начала предоставлять свои услуги в Северо-Западном, Центральном, Южном, Приволжском и Сибирском федеральных округах России. Это позволило компании стать одним из лидеров в отрасли национального уровня.'
        },
        {
            image: asset('build/images/hero-3.png'),
            text: 'В 2006 году группа предпринимателей с большим опытом в сфере обслуживания и уборки помещений решила объединить свои усилия и создать компанию, которая предложила бы высококачественные услуги клининга и технической эксплуатации.'
        },
        {
            image: asset('build/images/hero-1.png'),
            text: 'В следующие несколько лет компания активно развивалась, привлекая новых клиентов и расширяя географию своих услуг. "Сити Сервис" начала предоставлять свои услуги в Северо-Западном, Центральном, Южном, Приволжском и Сибирском федеральных округах России. Это позволило компании стать одним из лидеров в отрасли национального уровня.'
        }
    ] %}
    {% include 'components/sections/about/history.html.twig' with { history } %}

    {% include'components/sections/info.html.twig' with { onlyImage: true }%}

    {% if advantages | length %}
        {% include 'components/sections/advantages.html.twig' with { advantages } %}
    {% endif %}

    {% if reviews | length %}
        {% include 'components/sections/reviews.html.twig' with { reviews } %}
    {% endif %}

    {% include 'components/sections/partners.html.twig' %}

{% endblock %}