{# @var socialNetwork \App\Entity\SocialNetwork #}
{# @var contact \App\Entity\Contact #}
{# @var branch \App\Entity\Branch #}
{# @var review \App\Entity\Review #}
{# @var advantage \App\Entity\Advantage #}
{# @var certificate \App\Entity\Certificate #}
{# @var service \App\Entity\Service #}
{# @var image \App\Entity\Gallery #}

{% extends 'layouts/default.html.twig' %}

{% block title %}О нас | Сити Сервис{% endblock %}
{% block meta %}
    <meta property="og:title" content="ООО Сити Сервис - клиниговые услуги для бизнеса">
    <meta property="og:description"
          content="Мы создаем пространства, где чистота и порядок становятся ключевыми составляющими успеха.">
{% endblock %}

{% block content %}

    {% include 'components/base/breadcrumbs.html.twig' with { breadcrumbs: [
        {title : 'Главная', url : '/'},
        {title :  'О Нас' },
    ] } %}

    <div class="container">
        <h1 class="title-24-53 main__title">
            Мы создаем пространства, где чистота и порядок становятся ключевыми составляющими успеха
        </h1>
    </div>

    <div class="main__image">
        <img src="{{ asset('build/images/default-about-image.webp') | imagine_filter_cache('banner_md') }}"
             alt="О нас" style="object-position: top">
    </div>

    <section class="section section_light about-info">
        <div class="container about-info__container">
            <h2 class="title-18-28 about-info__title">Нам доверяют крупнейшие компании России</h2>
            <div class="about-info__text">
                Мы - профессионалы в сфере клининга и технической эксплуатации зданий. Наша компания начала свой путь в 2006 году, и с тех пор мы посвятили себя обеспечению безупречной чистоты и порядка для наших партнеров. <br><br>
                История становления компании началась в 2006 году, когда появилась возможность поставлять передовые технологии, средства по очистке и дезинфекции, многофункциональная клининговая техника из стран Европы. Получив возможность организовать сервис высокого уровня в России, мы адаптировали зарубежные схемы к отечественным реалиям и стали оказывать услуги крупнейшим предприятиям страны.
            </div>
        </div>
    </section>

    {% set history = [
        {
            image: asset('build/images/about-1.webp') | imagine_filter_cache('medium'),
            text: 'В 2006 году группа предпринимателей с большим опытом в сфере обслуживания и уборки помещений решила объединить свои усилия и создать компанию, которая предложила бы высококачественные услуги клининга и технической эксплуатации.'
        },
        {
            image: asset('build/images/about-2.webp') | imagine_filter_cache('medium'),
            text: 'Компания начала активно развиваться на рынке Северо-Западного Федерального округа, предоставляя услуги крупнейшим предприятиям России. Филиалы открылись во всех крупных центрах СЗФО.'
        },
        {
            image: asset('build/images/about-3.webp') | imagine_filter_cache('medium'),
            text: 'Создав репутацию надежного партнера в области клининга, ООО “Сити Сервис” открыло направление технической эксплуатации. Мы вязли больше ответственности перед своими клиентами, расширили штат компании и вышли на новый уровень работы.'
        },
        {
            image: asset('build/images/hero-2.webp') | imagine_filter_cache('medium'),
            text: 'Успешно преодолев кризисы в отрасли, которые затронули большинство компаний, мы не только остались на рынке, но и расширили свою географию. Наши представительства открыты от Калининграда до Омска, от Архангельска до Волгограда.'
        },
        {
            image: asset('build/images/hero-3.webp') | imagine_filter_cache('medium'),
            text: 'Мы продолжаем развиваться и совершенствовать свои услуги. Разрабатываем новые эффективные методы и внедряем все инновационные решения.'
        }
    ] %}
    {% include 'components/sections/about/history.html.twig' with { history } %}

    {% include'components/sections/info.html.twig' with { onlyImage: true }%}

    {% if advantages | length %}
        {% include 'components/sections/advantages.html.twig' with { advantages } %}
    {% endif %}

    {% if certificates | length %}
        {% include 'components/sections/about/licenses.html.twig' with { licenses: certificates } %}
    {% endif %}

    {% if reviews | length %}
        {% include 'components/sections/reviews.html.twig' with { reviews } %}
    {% endif %}

    {% include 'components/sections/partners.html.twig' %}

{% endblock %}