{# @var socialNetwork \App\Entity\SocialNetwork #}
{# @var contact \App\Entity\Contact #}
{# @var branch \App\Entity\Branch #}
{# @var review \App\Entity\Review #}
{# @var advantage \App\Entity\Advantage #}
{# @var certificate \App\Entity\Certificate #}
{# @var service \App\Entity\Service #}
{# @var image \App\Entity\Gallery #}

{% extends 'layouts/default.html.twig' %}

{% block title %}Главная | Сити Сервис{% endblock %}
{% block meta %}
    <meta property="og:title" content="ООО Сити Сервис - клиниговые услуги для бизнеса">
    <meta property="og:description"
          content="Компания «Сити Сервис» — это крупное аутсорсинговое предприятие, основной специализацией которого является предоставление клининговых услуг в Северо-Западном округе Российской Федерации.">
{% endblock %}

{% block content %}

    {% include 'components/sections/home/hero.html.twig' %}

    {% set about = {
        heading: 'Кто мы',
        title: '<span>Эксперты в клининге с 2006.</span>
        <span>Применяем <strong>передовые технологии</strong></span>
        <span>для качественных услуг</span>',
        description: 'Компания «Сити Сервис» —  крупное аутсорсинговое предприятие, основной специализацией которого является предоставление клининговых услуг в Северо-Западном округе Российской Федерации.<br>
Главный офис «Сити Сервис» расположен в Санкт-Петербурге, а география предоставления услуг охватывает территорию от Мурманска до Волгограда и от Калининграда до Омска.',
        list: [
            {
                title: '17',
                description: 'лет на рынке аутсорсинга'
            },
            {
                title: '500+',
                description: 'клиентов'
            },
            {
                title: '12',
                description: 'регионов РФ'
            },
            {
                title: '3000+',
                description: 'сотрудников'
            },
            {
                title: '100+',
                description: 'объектов по стране'
            }
        ]
    } %}

    {% include 'components/sections/about.html.twig' with { heading: about.heading, title: about.title, description: about.description, list: about.list, static: true } %}

    {% if serviceList() | length %}
        {% include 'components/sections/home/services.html.twig' with { services: serviceList() } %}
    {% endif %}

    {% include'components/sections/info.html.twig' %}

    {% if advantages | length %}
        {% include 'components/sections/advantages.html.twig' with { advantages } %}
    {% endif %}

    {% if reviews | length %}
        {% include 'components/sections/reviews.html.twig' with { reviews } %}
    {% endif %}

    {% include 'components/sections/partners.html.twig' %}

{% endblock %}