{# @var socialNetwork \App\Entity\SocialNetwork #}
{# @var contact \App\Entity\Contact #}
{# @var branch \App\Entity\Branch #}
{# @var review \App\Entity\Review #}
{# @var advantage \App\Entity\Advantage #}
{# @var certificate \App\Entity\Certificate #}
{# @var service \App\Entity\Service #}
{# @var image \App\Entity\Gallery #}

{% extends 'layouts/default.html.twig' %}

{% block title %}Главная | Сити Сервис{% endblock %}
{% block meta %}
    <meta property="og:title" content="ООО Сити Сервис - клиниговые услуги для бизнеса">
    <meta property="og:type" content="article">
    <meta property="og:url" content="/">
    <meta property="og:site_name" content="Сити Сервис"/>
    <meta property="og:image" content="{{ asset('build/images/logo.svg') }}">
    <meta property="og:description"
          content="Компания «Сити Сервис» — это крупное аутсорсинговое предприятие, основной специализацией которого является предоставление клининговых услуг в Северо-Западном округе Российской Федерации.">
{% endblock %}

{% block content %}
    <main class="main">
        {% include 'components/sections/home/hero.html.twig' %}

        {% set about = {
            heading: 'Кто мы',
            title: '<span>Эксперты в клининге с 2006.</span>
        <span>Применяем <strong>передовые технологии</strong></span>
        <span>для качественных услуг</span>',
            description: 'Компания «Сити Сервис» —  крупное аутсорсинговое предприятие, основной специализацией которого является предоставление клининговых услуг в Северо-Западном округе Российской Федерации.<br>
Главный офис «Сити Сервис» расположен в Санкт-Петербурге, а география предоставления услуг охватывает территорию от Мурманска до Волгограда и от Калининграда до Омска.',
            list: [
                {
                    title: '222 чел',
                    description: 'Описание'
                },
                {
                    title: '222 чел',
                    description: 'Описание'
                },
                {
                    title: '222 чел',
                    description: 'Описание'
                },
                {
                    title: '222 чел',
                    description: 'Описание'
                },
                {
                    title: '222 чел',
                    description: 'Описание'
                }
            ]
        } %}

        {% include 'components/sections/about.html.twig' with { heading: about.heading, title: about.title, description: about.description, list: about.list } %}

        {% if services | length %}
            {% include 'components/sections/home/services.html.twig' with { services } %}
        {% endif %}

        {% include'components/sections/home/info.html.twig' %}

        {% if advantages | length %}
            {% include 'components/sections/advantages.html.twig' with { advantages } %}
        {% endif %}

        {% if reviews | length %}
            {% include 'components/sections/reviews.html.twig' with { reviews } %}
        {% endif %}


        <section>
            <h2 style="color: #7c2d12">Сертификаты и Лицензии</h2>
            {% for certificate in certificates %}
                <ul>
                    <li>{{ certificate.title }}</li>
                    <li>{{ certificate.description }}</li>
                    {% if  certificate.file is not null %}
                        <li><a href="{{ vich_uploader_asset(certificate.file, 'imageFile') }}">Смотреть оригинал</a>
                        </li>
                    {% else %}
                        <li style="color: #7c2d12">Файлов нет</li>
                    {% endif %}
                </ul>
            {% endfor %}
            certificates
        </section>
    </main>
{% endblock %}