@import "../vars";
@import "../mixins/base";

.review {

  &__preview {
    color: $blue-dark;
    margin-bottom: 20px;
    @media screen and (min-width: 1366px) {
      margin-bottom: 60px;
    }
  }

  &__author {
    display: flex;
    flex-direction: column;
  }

  &__button {
    margin-top: 10px;
  }
}

.review-author {

  &__name {
    color: $blue-dark;
    margin-bottom: 5px;
  }

  &__position {
  }
}

