{% extends 'components/popups/default-popup.html.twig' %}

{% block name %}document-popup{% endblock %}

{% block content %}
    <div class="document-popup__image">
        <img src="" alt="">
    </div>
{% endblock %}