{% extends 'components/popups/default-popup.html.twig' %}

{% block name %}review-popup{% endblock %}

{% block content %}
    <div class="review-popup__image">
        <img src="" alt="">
    </div>
{% endblock %}