{# @var feedback \App\Entity\Feedback #}

<p>Письмо для клиента</p>

<ul>
    <li style="color: darkred">Имя: {{ feedback.name }}</li>
    <li>Телефон: {{ feedback.phone }}</li>
    <li>Сообщение: {{ feedback.comment ?? 'no comment' }}</li>
</ul>