{# @var feedback \App\Entity\Feedback #}

<h3>Письмо администратору</h3>

<ul>
    <li style="color: red">Имя: {{ feedback.name }}</li>
    <li>Телефон: {{ feedback.phone }}</li>
    <li>Сообщение: {{ feedback.email }}</li>
</ul>