{# @var feedback \App\Entity\Feedback #}
{% apply inline_css %}
    <style>
        {# here, define your CSS styles as usual #}
        h3 {
            color: darkred;
        }

        span {
            color: red;
        }
    </style>

    <h3>Письмо администратору</h3>

    <ul>
        <li>Имя: <span>{{ feedback.name }}</span></li>
        <li>Телефон: {{ feedback.phone }}</li>
        <li>Сообщение: {{ feedback.comment }}</li>
    </ul>

{% endapply %}




