@import "vars";
@import "mixins/base";
html {
  &.no-scroll {
    overflow: hidden;
  }
}
body {
  font-family: $ff-main;
  color: $blue-dark-2;
  background-color: $white;
  @include base-text;

  &::-webkit-scrollbar {
    width: 8px;
    height: 1px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue-dark-2;
    border-radius: 60px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @media screen and (min-width: 1366px) {
    max-width: $max-width;
  }
}

.logo {
  svg {
    width: 100%;
    height: 100%;
    path {
      transition: fill .3s ease;
    }
  }
}

.main {
  padding-top: 54px;
  @media screen and (min-width: 1024px) {
    padding-top: 66px;
  }
  @media screen and (min-width: 1366px) {
    padding-top: 76px;
  }
  &__title {
    width: 100%;
    margin-bottom: 30px;
    color: $blue-dark;
    @media screen and (min-width: 1024px) {
      margin-bottom: 40px;
      &_short {
        width: 585px;
      }
    }
    @media screen and (min-width: 1366px) {
      margin-bottom: 32px;
      &_short {
        width: 693px;
      }
    }
  }

  &__image {
    position: relative;
    padding-top: 80%;

    img {
      @include absolute-100;
    }

    @media screen and (min-width: 1024px) {
      padding-top: 60vh;
    }

    &_about {
      img {
        object-position: top;
      }
    }
  }
}

.map {
  &__container {
    height: 290px;
    @media screen and (min-width: 768px) {
      height: 630px;
    }
    @media screen and (max-width: 1023px) {
      padding: 0;
      width: 100vw;
    }
    @media screen and (min-width: 1024px) {
      height: 551px;
    }
    @media screen and (min-width: 1366px) {
      height: 570px;
    }
  }
}

.policy {
  max-width: 773px;
  &__block {
    margin-bottom: 40px;
  }
  &__title {
    margin-bottom: 20px;
  }
}