@import "vars";
@import "mixins/base";

body {
  font-family: $ff-main;
  color: $blue-dark-2;
  background-color: $white;
  overflow: overlay;
  @include base-text;

  &::-webkit-scrollbar {
    width: 8px;
    height: 1px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $blue-dark-2;
    border-radius: 60px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @media screen and (min-width: 1366px) {
    max-width: $max-width;
  }
}

.logo {
  svg {
    width: 100%;
    height: 100%;
  }
}

.main {
  &__title {
    width: 100%;
    margin-bottom: 30px;
    color: $blue-dark;
    @media screen and (min-width: 1024px) {
      margin-bottom: 40px;
      &_short {
        width: 585px;
      }
    }
    @media screen and (min-width: 1366px) {
      margin-bottom: 32px;
      &_short {
        width: 693px;
      }
    }
  }

  &__image {
    position: relative;
    padding-top: 80%;

    img {
      @include absolute-100;
    }

    @media screen and (min-width: 1024px) {
      padding-top: 60vh;
    }
  }
}