//base
$maxWidth: 1230px;

//COLORS
$white: #fff;
$blue: #408AC9;
$blue-dark: #02222D;
$blue-dark-2: #718389;
$yellow: #FDA92C;
$grey-light: #EFEFEF;
$red: #CD1307;

//FONTS FAMILY
$ff-main: "Inter-City", 'Arial', sans-serif;
$ff-secondary: "Geologica-City", 'Arial', sans-serif;


