<section class="section section_light cases">
    <div class="container">
        <div class="section__header">
            <h2 class="section__heading">
                Выполненные работы
            </h2>
        </div>
        <ul class="cases__categories">
            {% for category in categories %}
                {% if category.completedWorks | length %}
                    <li class="swiper-section cases__category cases-category">
                        <div class="swiper-section__header cases-category__header">
                            <h3 class="title-24-53 swiper-section__title cases-category__title">{{ category.title }}</h3>
                            <div class="swiper-section__controls cases-category__controls">
                                {% include 'components/swiper-button.html.twig' %}
                                {% include 'components/swiper-button.html.twig' with { direction: 'next' } %}
                            </div>
                        </div>
                        <div class="swiper swiper-section__swiper swiper-section-swiper cases-category__swiper cases-swiper">
                            <ul class="swiper-wrapper swiper-section-swiper__wrapper cases-swiper__wrapper">
                                {% for case in category.completedWorks %}
                                    <li class="swiper-slide swiper-section-swiper__slide cases-swiper__slide">
                                        <div class="swiper-section-swiper__image">
                                            {% if case.gallery | length > 0 %}
                                                <img src="{{ vich_uploader_asset(case.gallery[0].image, 'imageFile') | imagine_filter_cache('medium') }}"
                                                     alt="{{ case.title }}" loading="lazy">
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="default-swiper-navigation swiper-section__navigation cases-category__navigation">
                            <span class="default-swiper-navigation__fraction swiper-section__fraction swiper-section__fraction_current">01</span>
                            <div class="swiper-section__pagination cases-category__pagination"></div>
                            <span class="default-swiper-navigation__fraction swiper-section__fraction swiper-section__fraction_total">03</span>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>