<section class="section section_dark feedback">
    <div class="container feedback__container">
        <div class="feedback__header">
            <h2 class="title-24-53 feedback__title">Оставить заявку на консультацию</h2>
            <p class="feedback__text">
                Мы&nbsp;готовы предоставить вам высококачественные услуги, которые превратят ваши пространства в&nbsp;источник вдохновения и&nbsp;эффективности. Доверьтесь нам, и&nbsp;мы&nbsp;сделаем ваше окружение лучше
            </p>
        </div>
        <div class="feedback__form">
            {% include 'feedback/feedback-form.html.twig' %}
        </div>
    </div>
</section>