{% set onlyImage = onlyImage | default(false) %}
<section class="section section_light info">
    <div class="container info__container">
        {% if not onlyImage %}
            <div class="section__header info__header">
                <h3 class="title-18-28 info__title">
                    Наши услуги отличаются высоким уровнем качества
                </h3>
                <p class="info__description">
                    Благодаря системному подходу и точному планированию мы максимально эффективно используем ресурсы. Это позволяет нашим заказчикам всегда получать лучший результат.
                </p>
            </div>
        {% endif %}

        <div class="info__image">
            <img src="{{ asset('build/images/info-image.webp') | imagine_filter_cache('middle_banner') }}" alt="Наши работы отличаются высоким уровнем качества" loading="lazy">
        </div>
    </div>
</section>