<section class="section section_light partners">
    <div class="container">
        <div class="section__header">
            <h2 class="section__heading">
                Партнеры
            </h2>
        </div>
        <ul class="partners__list">
            {% for i in 1..8 %}
                <li class="partners__item">
                    <img src="{{ asset("build/images/partner-#{i}.svg") }}" alt="partner">
                </li>
            {% endfor %}
        </ul>
        <div class="swiper partners__swiper partners-swiper">
            <ul class="swiper-wrapper partners-swiper__wrapper">
                {% for i in 1..8 %}
                    <li class="swiper-slide partners-swiper__slide">
                        <img src="{{ asset("build/images/partner-#{i}.svg") }}" alt="partner">
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>