@import "../../vars";
@import "../../mixins/base";
.feedback-form {
  display: grid;
  gap: 30px;
  &__inputs {
    display: grid;
    gap: 35px;
  }

  &__input {
  }

  &__checkbox {
  }

  &__policy {
    a {
      color: $yellow;
      opacity: 0.75;
      transition: opacity .4s ease;
      @media screen and (min-width: 1366px) {
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__submit {
    width: 100%;
  }
}
